@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family= Inter: wght @400;700;800 & display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    background-color: #fefdf9;
    display: grid;
    grid-template-columns: 400px;
    grid-template-rows: 85px 1710px 85px;
    grid-template-areas: 'header'
                         'main'
                         'footer';
    justify-content: center;
}

header {
    grid-area: header;
    display: flex;
    align-items: center;
    column-gap: 60%;
}

header #burguer {
    position: absolute;
    z-index: 1000;
    color: black;
    font-size: 3em;
    top: 25px;
    cursor: pointer;
}

header ul {
    height: 100%;
    width: 300px;
    background-color: white;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 999;
    right: 0px;
    top: 0px;
    padding-top: 150px;
    display: none;
}

header ul li {
    padding: 20px;
}

header a {
    text-decoration: none;
    color: #646369;
}

main {
    grid-area: main;
    max-width: 768px;
    margin: auto;
    display: grid;
    grid-template-columns: 400px;
    grid-template-rows: 300px 280px 495px 450px;
    grid-template-areas: "imagem"
                         "aside"
                         "novidade"
                         "itens";
    row-gap: 50px;
    justify-content: center;
}

.imagem {
    grid-area: imagem;
}

.imagem img {
    width: 345px;
    height: 300px;
}

.informacoes {
    grid-area: aside;
    display: flex;
    flex-direction: column;
    row-gap: 20px

}

.informacoes p {
    color: #646369;
}

.informacoes a {
    background-color: #f15d51;
    text-decoration: none;
    padding: 15px;
    width: 150px;
    text-align: center;
    color: white;
}

.informacoes a:hover {
    background-color: #00001a;
}

.novidade {
    grid-area: novidade;
    background-color: #00001a;
    color: white;
    padding: 30px;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}

.novidade h1 {
    color: #ebab51;
}

.novidade h2:hover {
    cursor: pointer;
    color: #ebab51;
}

.novidade p {
    color: #c5c4cc;
}

.itens {
    grid-area: itens;
    display: flex;
    flex-direction: column;

}

.itens img {
    width: 100px;
    height: 130px;
    padding-bottom: 20px;
}

.item {
    display: flex;
}

.info {
    display: flex;
    flex-direction: column;
    padding-left: 15px;
    row-gap: 8px;
    color: #00001a;

}

.info h1 {
    color: #c5c4cc;
}

.info h4:hover {
    color: #ebab51;
    cursor: pointer;
}

.info p {
    color: #646369;
}

footer {
    grid-area: footer;
    text-align: center;
}